# In this file you have to include as many lines to start a fuse.bindfs as you want
# This are passed as is to the command 'bindfs', so be careful with what you put
#
# NOTE: Origin and Destination places must exist, You have to create them, the process
# 	won't do that


###############################################################
#### EVERY ENTRY MUST BE A VALID -->binfs<-- COMMAND ENTRY ####
###############################################################

# This is a example setting. 
#
# Notice the <uid> and <gid> values. 
# Those MUST be numeric values, that will represent the uid and gid of user:group
# owner you want to match. Commonly host's user:group values. 
#
# Why not plain names?
# To create a correct match. Users in container are not the same as users in host, so
# using number prevents giving access to incorrect user:group pairs

#-u www-data -g www-data -p 0000,u=rwX:go=rD --create-for-user=<uid> --create-for-group=<gid> "/path/to/source" "/path/to/destination"

